[loadbalancer]
${loadbalancer_private_ips}
[worker]
${worker_private_ips}
[master-1]
${master_private_ip_0}
[master-23]
${master_private_ip_1}
${master_private_ip_2}
[all:vars]
ansible_connection=ssh
ansible_user=root
ansible_ssh_pass=unix
